<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap" rel="stylesheet" />

<header>
  <div class="nav">
    <form action="/search-user" method="post" id="form">
      <input class="bar" type="text" name="search" placeholder="Search">
      <button type="submit" id="search-btn">
        <img class="search-icon" alt="search icon"
          src="https://www.citypng.com/public/uploads/preview/search-explore-white-icon-transparent-png-31634946340qymsafkpk6.png">
      </button>
    </form>
    <a href="/notification" style="text-decoration: none;"> <img class="notification-icon"
        src="https://i.postimg.cc/2y7DzmxQ/Icon-ionic-ios-notifications.png" alt="notification-icon"></a>
    {{!-- <img class="save-icon" src="/images/profile/{{user.img}}" alt="save-icon"> --}}
    <a href="/home" style="text-decoration: none;">
      <h1>{{user.name}}</h1>
    </a>
    <img style="margin-left:100px" class="profile" src="/images/profile/{{user.img}}">
  </div>
  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add profile pic
  </button>
  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
    add Post
  </button>
  <a href="/message" class="btn btn-dark">message</a>
  <a href="/logout" class="btn btn-dark">LogOut</a>
</header>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/addimg" method="post" enctype="multipart/form-data">
          <input type="file" name="img">
          <input type="hidden" name="userID" value="{{user.id }}">
          <input type="submit" value="Update">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>





{{!-- //addpost --}}


<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/addpost" method="post" enctype="multipart/form-data">
          <input type="file" name="img">
          <input type="hidden" name="userID" value="{{user.id }}">
          <label for="">discription</label>
          <input type="text" name="dis" placeholder="discription">
          <input type="submit" value="Update">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>


{{!-- message --}}



<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="column-two">

          {{!-- <div class="booking-box">
            <img src="https://i.postimg.cc/gJpsHR84/slawek-fedorczuk-slawek-fedorczuk-2016-11-11-1.jpg" alt="">
            <h3>Four Seasons</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
            <input class="button" type="button" value="Book">
          </div> --}}


        </div>

        </main>

        <aside class="aside-content">

          <div class="aside-title">
            <h3>Message</h3>
            <a href="#">View all</a>
          </div>
          {{#each post}}
          <div class="aside-booking-box">
            <div class="photo">
              <img src="/images/msg/{{this.img}}" alt="">
            </div>
            <div class="info">
              <h4>{{this.msg}}</h4>

            </div>
          </div>
          {{/each}}

        </aside>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
    </div>
  </div>
</div>
</div>